body{
    background-image: url("food-1475223_1920.jpg");
    background-size: cover;

}
.login{
    margin: auto;
    background: #fff;
    max-width: 450px;
    padding: 10px;
    border-radius: 4px;
}
input[type=text]{
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: .5px solid;
    margin: 1px 0;
}
input[type=password]{
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: .5px solid;
    margin: 1px 0;
}
input[type=submit]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: none;
    background: orange;
    font-size: 20px;
    cursor: pointer;
}